<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Remove WWW" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
                    </conditions>
                    <action type="Redirect" url="http://example.com{PATH_INFO}" redirectType="Permanent" />
                </rule>
                <rule name="DynamicRewriteHTML"  patternSyntax="Wildcard">
                    <match url="*.html" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>                      
                    </conditions>
                    <action type="Rewrite" url="index.php?site={R:0}" />
                </rule>
                <rule name="DynamicRewriteHTM"  patternSyntax="Wildcard">
                    <match url="*.htm" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>                      
                    </conditions>
                    <action type="Rewrite" url="index.php?site={R:0}" />
                </rule>
                <rule name="DynamicRewritePHP"  patternSyntax="Wildcard">
                    <match url="*.php" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>                      
                    </conditions>
                    <action type="Rewrite" url="index.php?site={R:0}" />
                </rule>
                <rule name="DynamicRewriteXML"  patternSyntax="Wildcard">
                    <match url="*.xml" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="xml.php?action={R:1}" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Content-Type-Options"/>
                <add name="X-Content-Type-Options" value="nosniff"/>
                <remove name="X-Powered-By"/>
                <add name="X-Powered-By" value="Fuck off"/>
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <clientCache setEtag="false"/>
            <!-- Set expire headers to 30 days for static content-->
            <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
        </staticContent>
    </system.webServer>
</configuration>
