<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="DynamicRewriteHTML"  patternSyntax="Wildcard">
                    <match url="*.html" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>                      
                    </conditions>
                    <action type="Rewrite" url="index.php?site={R:0}" />
                </rule>
                <rule name="DynamicRewriteHTM"  patternSyntax="Wildcard">
                    <match url="*.htm" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>                      
                    </conditions>
                    <action type="Rewrite" url="index.php?site={R:0}" />
                </rule>
                <rule name="DynamicRewritePHP"  patternSyntax="Wildcard">
                    <match url="*.php" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>                      
                    </conditions>
                    <action type="Rewrite" url="index.php?site={R:0}" />
                </rule>
                <rule name="DynamicRewriteXML"  patternSyntax="Wildcard">
                    <match url="*.xml" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="xml.php?action={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
