@charset "UTF-8";
/* CSS Document */

/* ------ Reset-Stylesheet ------ */

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-appearance: none;
    -moz-appearance: none;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
	display: block;
}

:hover, :focus, :active { 
	outline: none; 
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

::-moz-selection { 
	background: #5af; 
	color: #fff; 
	text-shadow: none; 
}

::selection { 
	background: #5af; 
	color: #fff; 
	text-shadow: none; 
}

/* ------ Style Tags ------ */

html, body {
	background: #FFF;
}

body, input, textarea, select, a, li {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height: 1.4;
	font-size: 1em;
	color: #666;
}

/* Text */

p, h1, h2, h3, h4, h5, h6 {
	padding-bottom: 1em;
}

small {
  	font-size: 60%;
}

b, strong {
	font-weight: bold;
}

em, dfn {
    font-style: italic;
}

code {
  	font-family: "Lucida Console", Monaco, monospace;
	font-size: .75em;
  	font-weight: lighter;
  	color: #000;
}

blockquote {
    font-size: 150%;
    padding: .5em .1em;
    quotes: "\201C""\201D""\2018""\2019";
}

hr {
	box-sizing: content-box;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.centered {
	text-align: center;
}

/* Links */

a {
	text-decoration: none;
	border-bottom: 1px dotted #666;
	background-color: transparent;
}

a:hover {
	border-bottom: 1px solid #666;
}

/* Headline */

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1.1em;
}

/* Lists */

ol, ul {
	padding: .8em 1.2em;
}

/* Table */

table {
  	background: #FBFBFB;
  	margin: 0 auto 1rem;
  	table-layout: auto;
	width: 100%;
}

table tr th, table tr td {
    padding: 0.7rem;
    font-size: 0.9rem;
    color: #666;
    text-align: left;
	display: table-cell;
	border: 2px solid #FFF;
}

table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
	color: #5D5D5D;
}

table thead, table tfoot, table tr:nth-of-type(even) {
	background: #F2F2F2;
}

@media only screen and (max-width: 768px){
	.table-scrollable {
		width: 100%;
		overflow-y: auto;
		margin: 0 0 1em;
	}

	.table-scrollable::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 14px;
		height: 14px;
	}

	.table-scrollable::-webkit-scrollbar-thumb {
		border-radius: 8px;
		border: 3px solid #fff;
		background-color: rgba(0, 0, 0, .3);
	}
}

/* Images */

img {
	max-width: 100%;
	height: auto;
	border: 0;
}

/* Embedded content */

svg:not(:root) {
	overflow: hidden;
}

/* Forms */

input, textarea, select {
	display:block;
	margin:.3em 0 .5em;
}

input:not([type="submit"]), select, textarea {
	border: 1px solid #333;
	padding: .5em 1%;
	width: 100%;
	box-sizing: border-box;
}

input:not([type="submit"]):focus, select:focus, textarea:focus {
	border-color: #000;
	color: #000;
}

input[type=submit] {
	padding: .5em;
	background: #393;
	color: #FFF;
	text-align: center;
	cursor: pointer;
	width: 100%;
	box-sizing: border-box;
	margin: 2em 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

select {
  	-webkit-appearance: none !important;
  	-webkit-border-radius: 0px;
  	background-color: #FFF;
  	color: #333;
  	font-size: 1.2em;
}

/* Labels */

legend {
	border-bottom: 1px dashed #333;
	font-size: 1.8em;
	color: #333;
	margin: 1em 0;
	width: 100%;
}

label {
	color: #333;	
	padding: .5em 0;
	display: block;
	cursor: pointer;
}

/* Messages */

.error, .success {
	color: #FFF;
	text-align: center;
	padding-top: 1em;
}

.error {
	background-color: #f99797;
}

.success {
	background-color: #9F9;
}

/* ------ Grid Layout ------ */

.container {
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
}

@media only screen and (min-width:960px) {
	.grid-1,
	.grid-2,
	.grid-3,
	.grid-4,
	.grid-5,
	.grid-6,
	.grid-7,
	.grid-8,
	.grid-9,
	.grid-10,
	.grid-11,
	.grid-12 {
		display:inline;
		float: left;
		position: relative;
		margin-left: 1%;
		margin-right: 1%;
	}
	
	.alpha {
		margin-left: 0;
	}
	
	.omega {
		margin-right: 0;
	}
	
	.grid-1 {
		width: 6.333%;
	}
	
	.grid-2 {
		width: 14.667%;
	}
	
	.grid-3 {
		width: 23.0%;
	}
	
	.grid-4 {
		width: 31.333%;
	}
	
	.grid-5 {
		width: 39.667%;
	}
	
	.grid-6 {
		width: 48.0%;
	}
	
	.grid-7 {
		width: 56.333%;
	}
	
	.grid-8 {
		width: 64.667%;
	}
	
	.grid-9 {
		width: 73.0%;
	}
	
	.grid-10 {
		width: 81.333%;
	}
	
	.grid-11 {
		width: 89.667%;
	}
	
	.grid-12 {
		width: 98.0%;
	}
	
	.prefix-1 {
		padding-left: 8.333%;
	}
	
	.prefix-2 {
		padding-left: 16.667%;
	}
	
	.prefix-3 {
		padding-left: 25.0%;
	}
	
	.prefix-4 {
		padding-left: 33.333%;
	}
	
	.prefix-5 {
		padding-left: 41.667%;
	}
	
	.prefix-6 {
		padding-left: 50.0%;
	}
	
	.prefix-7 {
		padding-left: 58.333%;
	}
	
	.prefix-8 {
		padding-left: 66.667%;
	}
	
	.prefix-9 {
		padding-left: 75.0%;
	}
	
	.prefix-10 {
		padding-left: 83.333%;
	}
	
	.prefix-11 {
		padding-left: 91.667%;
	}
	
	.suffix-1 {
		padding-right: 8.333%;
	}
	
	.suffix-2 {
		padding-right: 16.667%;
	}
	
	.suffix-3 {
		padding-right: 25.0%;
	}
	
	.suffix-4 {
		padding-right: 33.333%;
	}
	
	.suffix-5 {
		padding-right: 41.667%;
	}
	
	.suffix-6 {
		padding-right: 50.0%;
	}
	
	.suffix-7 {
		padding-right: 58.333%;
	}
	
	.suffix-8 {
		padding-right: 66.667%;
	}
	
	.suffix-9 {
		padding-right: 75.0%;
	}
	
	.suffix-10 {
		padding-right: 83.333%;
	}
	
	.suffix-11 {
		padding-right: 91.667%;
	}
	
	.push-1 {
		left: 8.333%;
	}
	
	.push-2 {
		left: 16.667%;
	}
	
	.push-3 {
		left: 25.0%;
	}
	
	.push-4 {
		left: 33.333%;
	}
	
	.push-5 {
		left: 41.667%;
	}
	
	.push-6 {
		left: 50.0%;
	}
	
	.push-7 {
		left: 58.333%;
	}
	
	.push-8 {
		left: 66.667%;
	}
	
	.push-9 {
		left: 75.0%;
	}
	
	.push-10 {
		left: 83.333%;
	}
	
	.push-11 {
		left: 91.667%;
	}
	
	.pull-1 {
		left: -8.333%;
	}
	
	.pull-2 {
		left: -16.667%;
	}
	
	.pull-3 {
		left: -25.0%;
	}
	
	.pull-4 {
		left: -33.333%;
	}
	
	.pull-5 {
		left: -41.667%;
	}
	
	.pull-6 {
		left: -50.0%;
	}
	
	.pull-7 {
		left: -58.333%;
	}
	
	.pull-8 {
		left: -66.667%;
	}
	
	.pull-9 {
		left: -75.0%;
	}
	
	.pull-10 {
		left: -83.333%;
	}
	
	.pull-11 {
		left: -91.667%;
	}

	.row {
		margin-left: -1%;
		margin-right: -1%;
	}
}

/* ------ Helpers ------ */

.clear {
  	clear: both;
  	display: block;
  	overflow: hidden;
  	visibility: hidden;
  	width: 0;
  	height: 0;
}

.clearfix:before, .clearfix:after {
  	content: '\0020';
  	display: block;
  	overflow: hidden;
  	visibility: hidden;
  	width: 0;
  	height: 0;
}

.clearfix:after {
  	clear: both;
}

.clearfix {
	zoom: 1;
}
/* Hide visually and from screen readers */

.hidden {
	display: none !important;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

/* Alignment */

.alignleft {
	display: inline;
	float: left;
	margin-right: 20px;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 20px;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* ------ Style Navigation ------ */

nav {
	border-bottom: 1px solid #999;
	margin-bottom: 2em;
	height: 0;
	overflow: hidden;
}
	
nav > ul {
	width:100%;
}

nav ul {
	list-style:none;
	font-size: 0;
	background: #e8e8e8;
}

nav ul li {
	display: block;
	text-align: left;
}

nav ul li ul li {
	display: block;
}

nav li a, input#opener + label {
	display: block;
	text-decoration: none;
	border: none;
	font-size: 1.2rem;
	transition: all 1s;
	padding: .6em;
}

nav li a:hover {
	color: #000;	
	border: none;
}

nav ul li ul li a:before {
    content: "\00BB";
    font-size: 1.2em;
    line-height: 100%;
    margin-right: .4em; 
}

.scrollToTop {
	border: none;
	display: block;
	margin: 1rem .5rem;
	padding: .5rem;
	color: #000;
	background: #3e3e3e;
}

.scrollToTop:hover {
	border: none;
}

/* Responsiv Panel Menu */

input#opener {
    display: none;
}

input#opener + label {
    cursor: pointer;
    text-align: right;
}

input:checked#opener ~ nav {
    height: auto;
    overflow: visible;
}

@media only screen and (min-width:768px) {
    nav {
        height: auto;
        overflow: visible;
    }

    input#opener + label {
        display: none;
        width: 0;
        height: 0;
        font-size: 0;
    }

    nav ul li {
        display: inline-block;
        padding: 5px 10px;
        position: relative;	
    }

    nav ul li ul {
	    display: none;
    }
	
    nav ul li:hover ul {
	    position: absolute;
	    top: 100%;
	    z-index: 100;
	    display: inline-block;
	    border-left: 1px solid #999;
	    border-right: 1px solid #999;
	    border-bottom: 1px solid #999;
    }

	.scrollToTop {
		position: fixed;
		bottom: 5%;
		right: 5%;
		display: none;
		overflow: hidden;
		box-sizing: border-box;
		border: 1px solid #000;
		border-radius: 5px;
		width: 80px;
		height: 80px;
		padding-top: 35px;
		background: rgba(255,255,255,.7);
		font-size: 24px;
		text-decoration: none;
		text-align: center;
		color: #000;
		opacity: .4;
	}

	.scrollToTop::before {
		border-color: transparent transparent #444;
		border-style: solid;
		border-width: 20px;
		content: " ";
		display: block;
		height: 0;
		width: 0;
		position: absolute;
		top: -12px;
		left: 50%;
		margin-left: -20px;
	}
}

/* ------ Style Browser Information ------ */

.browserinfo {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ------ Your Style here! ------ */








/* ------ Print styles ------ */

@media print {
	*, *:before, *:after, *:first-letter, *:first-line {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a, a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

	a[href^="#"]:after, a[href^="javascript:"]:after {
		content: "";
	}

	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}
}
